@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Current count: @(currentCount)</p>

@if (currentCount > 3)
{
    <p>You Win @currentCount</p>
}
else
{
    <p>Waiting for it @currentCount</p>
}

<h3>Names</h3>
<ul>
    @foreach (var name in Names)
    {
        <li>@name</li>
    }
</ul>

<button class="btn btn-primary" @onclick="IncrementCount">Increment Count</button>
<button class="btn btn-primary" @onclick="ChangeValueOfProps">Change Value of Props</button>


@code {
    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    [Parameter]
    public string[] Names { get; set; } = { };


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }

    private void ChangeValueOfProps()
    {
        Names[0] = "Ander";
        Names[1] = "Voila";
        Names[2] = "SwassnivoK";
    }
}
